body {
    padding: 15px 15px 15px 15px; 
    background-color: #131722;
}
h2 {
    text-align: center;
    font-weight: normal;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.coloumn {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

/* form input design */
.inPeasent {
    font-size: 20px;
    text-align: center;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px 20px;
    margin: -10px 0px 30px 0px;
    border-color: #26a69a;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #26a69a;
    outline: none;
}

/* appearance of calculate button */

.inPeasent {
    -moz-appearance: textfield;
}

/* appearance of the button */
#inCalc {
    font-size: 20px;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #26a69a;
    border: none;
    border-radius: 20px;
    padding: 12px; 
    margin-bottom: 18px;
}

/* appearance of description for user from here */
.inLabel {
    font-size: 125%; 
    text-align: center;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Cappa {
    font-size: 125%;
    text-align: left;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#descCapGain {
    justify-content: space-between;
}

/* appearance of capital gain radio button labels */
.inRadio {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0;

}

.inCap {
    font-size: 125%;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 30px;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* appearance of non dom labels  */
.descLabel {
    font-size: 125%;
    text-align: left;
    margin-bottom: 30px;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* appearance for dom labels */
.ansLabel {
    font-size: 125%;
    text-align: right;
    margin-bottom: 0px;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
.broke {
    font-size: 125%;
    text-align: left;
    margin-bottom: 30px;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
.infoMen {
    font-size: 75%;
    text-align: center;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}